
body{

	background: black;

	font-family: Sans-serif;

}



header {

	color: white;

	font-size: 50px;

	text-align: center;

	text-shadow: 8px 8px 8px #555555;

}



p {

  position: relative; 

  padding: 15px 15px 15px 15px;

  margin: 20px auto 20px auto; 

  display: block; 

  background: rgba(100, 100, 100, 0.6); 

  color: #FFFFFF; 

  border-radius: 24px; 

  box-shadow: 7px 8px 5px 0px #363636; 

  -webkit-box-shadow: 7px 8px 5px 0px #363636; 

  text-shadow: 2px 1px 2px #000000; 

  filter: dropshadow(color=#000000, offx=2, offy=1); 

}



button {

	width: 40%;

	cursor: pointer;

    background-color: #4CAF50;

    border: 2px;

	border-radius: 10px;

    color: white;

    padding: 15px 32px;

    text-align: center;

	text-decoration: none;

    display: inline-block;

    font-size: 16px;

	outline: none;

}



button:hover {

	background-color:#5cbf2a;

}

button:active {

	position:relative;

	top:1px;

}



#warning {

	display: none;

}



#manager {

	width: 20%;

	position: absolute;

	left: 3%;

	text-align: center;

}



#logContainer {

	width: 70%;

	position: absolute;

	right: 3%;

}
